/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

* {
    font-family: DM Sans, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
}
:root {
    --back: rgba(11, 12, 30, 0.9);
}
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    line-height: normal;
}
body {
    background-image: url(images/background-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html, body {
    height: 100%;
}
#app {
    height: 100%;
}
.main {
    height: 100%;
}

.linnova-color-1 {
    background-color: #020b1c
}
.footer-fixed {
    position: fixed;
    bottom: 0;
}